# streamlit
langchain==0.3.1
langchain-community==0.3.1
langchain-together==0.2.0
# pypdf==5.0.1
# sentence-transformers
# faiss-cpu==1.8.0
# langchain-huggingface==0.1.0

# for fastapi
fastapi==0.115.0
uvicorn
gunicorn